/*components: navigations*/

//base
.navbar {
  padding: 1em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: .5em;
  text-transform: uppercase;
  &__logo {
    color: black;
    font-size: $large;
    font-weight: $mediano;
    position: absolute;
    & span {
      font-size: $x-small;
      margin-left: -.9em;
    }
  }
}

.user-info__sumary {
  padding-left: 0.8em;
  span {
    margin: 0;
  }
}

.navbar-collapse {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.fa-search,
.fa-video,
.fa-plus,
.fa-bell,
.fa-bars {
  color: black;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}