//tipografia
$montserrat: 'Montserrat',
sans-serif;
//peso fuente
$light: 300;
$regular: 400;
$mediano: 500;
$bold: 700;
//tamaño fuente
$x-large: 55px;
$large: 40px;
$medium: 20px;
$small: 15px;
$x-small:14px;