.main__tittle {
  font-size: $medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main.container {
  padding: 0;
}

.card {
  border: none;
}

.main__body {
  text-align: left;
  padding-left: 0;
}